Screen {
    layout: grid;
    grid-size: 2 3;
    grid-columns: 1fr 2fr;
    grid-rows: 10% 75% 15%;
}

#tree {
    row-span: 2;
}

#table {
    row-span: 2;
}

#player {
    content-align: center middle;
    height: 100%
}
